nav.navbar
  .container
    a.btn.btn-info.nav-item.nav-link(href='/') About
    a.btn.btn-info.nav-item.nav-link(href='cars') Book Car
    a.btn.btn-info.nav-item.nav-link(href='userInformation') Sign Up
    a.btn.btn-info.nav-item.nav-link(href='booked') Booked Cars
