nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#menu')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #menu.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/') ABOUT
        li
          a(href='bookingCalendar') START BOOKING
        li
          a(href='booked') BOOKED CARS
        li
          a(href='admin') ADMIN CARS
      
