extends layout

block content
  .wrapper
    h1 Booked Cars #{moment().format('YYYY-MM-DD')}
    .wrapper
      form(method="post" action="/booked")
        table(style="width: 100%")
          if bookedCarByPerson
              each car in bookedCarByPerson
                tr
                  td= car
          else
            p No cars here


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript")
  script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
  link(rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css")
  script(type="text/javascript" src="./public/js/cancel.js")
