extends layout
block content
    .wrapper
     h2 Booked Cars #{moment().format('YYYY-MM-DD')}

       h4
        p
        ul
         each word in bookedCarByPerson
          //form#user-form(method="post" action("/unbooked"))
          li=word 
           //input(type="submit" name="Avboka!")
