extends layout

block content

  #header
    h2 Select the period of time that you want to rent a car:

  form(method="post" action="/bookingCalendar")
    .form-group
      .left
        p From:
        input#dateFrom(type="text")
    .form-group
      .right
        p To:
        input#dateTo(type="text")
    input#submitForm(type="submit" value="Check for available cars!")

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript")
  script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
  link(rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css")
  script(type="text/javascript" src="./public/js/calendar.js")
