extends layout

block content
  form(method="post" action("/"))
    table(style="width: 70%")
      tr
        th Choose Car
        th Brand
        th Model
        th Seats
        th Gearbox
        th Railing
        th Price/day
      each car in allCars
        if !car.booked
          tr
            td
              input(name= car._id type="radio")
            td= car.brand
            td= car.model
            td= car.seats
            if car.gearbox
              td Yes
            else
              td No
            if car.railing
              td Yes
            else
              td No
            td= car.price
    input#submitCar(type="submit" value="Choose car")

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript")
  script(type="text/javascript" src="./public/js/script.js")
