extends layout

block content
  form(method="post" action("/"))
    table(style="width: 70%")
      tr
        th Välj bil
        th Märke
        th Modell
        th Antal säten
        th Växellåda
        th Takräcke
        th Pris/dag
      each car in allCars
        if !car.booked
          tr
            td
              input(name= car._id type="radio")
            td= car.brand
            td= car.model
            td= car.seats
            if car.gearbox
              td Ja
            else
              td Nej
            if car.railing
              td Ja
            else
              td Nej
            td= car.price
    input#submitCar(type="submit" value="Välj bil")

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript")
  script(type="text/javascript" src="./public/js/script.js")
