extends layout

block content
  .wrapper
  form(method="post" action("/"))
    table#allCars(style="width: 70%")
      tr
        th(onclick='sortTable(0)')
          img(src='public/img/choose.png')
        th(onclick='sortTable(1)')
          img(src='public/img/brand.png')
        th(onclick='sortTable(2)')
          img(src='public/img/model.png')
        th(onclick='sortTable(3)')
          img(src='public/img/seats.png')
        th(onclick='sortTable(4)')
          img(src='public/img/gearbox.png')
        th(onclick='sortTable(5)')
          img(src='public/img/railing.png')
        th(onclick='sortTable(6)')
          img(src='public/img/price.png')

      each car in allCars
        tr
          td
            input(name="radioCar" type="radio" value= car._id)
          td= car.brand
          td= car.model
          td= car.seats
          if car.gearbox
            td Yes
          else
            td No
          if car.railing
            td Yes
          else
            td No
          td= car.price
          //if !car.booked
    input#submitCar(type="submit" value="Choose car")

    

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript")
  script(type="text/javascript" src="./public/js/script.js")
