extends layout

block content
    .wrapper
      h1#about A luxurious car rental service!
      h4#about Rent your car today and start cruising!
      a#about(href="bookingCalendar" class="btn btn-info") Start booking
